// ========================================================
// PCR Variables
// ========================================================

$remove-list-styles: false;
$link-underline: hover;
$mark-ins-color: #FF9;

// ========================================================
// PCR "pebble custom reset"
// ========================================================

@import "PCR";


// ========================================================
// Main Styles
// ========================================================

body{
	padding: 20px 10%;
}