/* ========================================================
   Eric Meyer CSS Reset v2.0b1 | 201101 
   http://meyerweb.com/eric/tools/css/reset/
======================================================== */
/* line 17, ../sass/_PCR.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 29, ../sass/_PCR.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../sass/_PCR.scss */
body {
  line-height: 1;
}

/* line 37, ../sass/_PCR.scss */
blockquote, q {
  quotes: none;
}

/* line 42, ../sass/_PCR.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 55, ../sass/_PCR.scss */
ins {
  text-decoration: none;
}

/* line 59, ../sass/_PCR.scss */
del {
  text-decoration: line-through;
}

/* line 63, ../sass/_PCR.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ========================================================
   PCR "pebble custom reset" V 0.2.0
   https://github.com/pebblecode/PCR
======================================================== */
